*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(image.jpg);
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 120vh;
    margin-top: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}
.regform{
    width: 800px;
    background-color:#fff;
    margin: auto;
    color: #000000;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 5px 15px 5px ;
    margin-bottom: 50px;
}
.main{
    background-color: rgba(0,0,0,0.5);
    width: 800px;
    margin: auto;
}
.form{
    padding: 10px;
}
#name{
    width: 100%;
    height: 100px;
}
.details{
    margin-left: 300px;
    margin-top: 10px;
    width: 125px;
    color: blanchedalmond;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}   

.name{
    position: relative;
    left: 500px;
    top: -30px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0;
    font-size:larger ;
}
.email{
    position: relative;
    left: 500px;
    top: -30px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0;
    font-size: large;
}
.phone{
    position: relative;
    left: 500px;
    top: -30px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0;
    font-size: large;
}
.state{
    position: relative;
    left: 500px;
    top: -30px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0;
    font-size: large;
}
.add{
    position: relative;
    left: 500px;
    top: -30px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0;
    font-size: large;
}
.option{
    position: relative;
    left: 500px;
    top: -30px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0;
    font-size: large;
}
.radio{
    position: relative;
    left: 500px;
    top: -40px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0;
    font-size: large;
    
}
.btn{
    background-color:#ffffff;
    border: 2px solid #000000;
    padding: 5px 10px;
    box-shadow: inset 0 0 0 0 #ffffff;
    letter-spacing: 1px;
    border-radius: 0%;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: large;
    transform: translate(-50%,-50%);
    margin-top: 50px;
    margin-bottom: 25px;
    left: 50%;

}
.btn:hover{
    box-shadow: inset 12em 0 0 0 #ffffff;
}
@media (max-width: 1048px){
    .name{
        font-size: 20px;
        padding-left: 20px;
    }
}
