*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-image:  url(corona-warrior.jpg);
   
    height: 100vh;
    width: 100%;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgb(25, 141, 133) ;
    position: fixed;
}
nav ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    padding: 10px 20px;
    color: #ffffff;
    border: 1px solid transparent;
    transition: 0.5s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul li a:hover{
    
    background-color: #ffffff;
    color: #000000;
}
ul li.active a{
    background-color: #ffffff;
    color: #000000;
}
.title{
    position: absolute;
    top: 2%;
    float: left;

}
.title h1{
    color: #ffffff;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 10px;
}
.paragraph{
    position: absolute;
    top: 48%;
    left: 60%;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}
.section_padding{
    padding: 100px 0px;
 }
 .section_title{
     position: relative;
     margin-bottom: 10%;
     width: 100%;
 }
 .section_title p{
     font-size: large;
     font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    padding: 0 12px;
    letter-spacing: 1px;

 }
 .section_title h2{
     position: relative;
     font-size: x-larger;
    
     line-height: 1.14;
     letter-spacing: 1.4px;
     padding-bottom: 13px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     padding-top: 13px;
 }
 .btn{
     background-color: teal;
     border: 2px solid #000000;
     padding: 15px 20px;
     box-shadow: inset 0 0 0 0 #ffffff;
     letter-spacing: 1px;
     border-radius: 0%;
     color: #ffffff;
     position: absolute;
     font-size: large;
     transform: translate(-50%,-50%);
 }
 .btn:hover{
     box-shadow: inset 12em 0 0 0 #ffffff;
 }
 html{
     scroll-behavior: smooth;
 }
 .apply{
   
    background-color: rgb(25, 141, 133);
    background-attachment: fixed;
}
.apply h2{
    color: #ffffff;
    font-size: xx-larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
}
.mt-30{
    margin-top: 35px;
    left: 50%;

}
.apply a{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    border: 2px solid #ffffff;
}
.contact{
    background-image:  url(corona-warrior.jpg);
    background-attachment: fixed;
    
}
.contact h2{
    color: #000000;
    font-size: xx-larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
    text-emphasis: none;
}
.contact p{
    color: #000000;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.contact h4{
    color: #000000;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    text-align: center;
}
.section_title h3{
    position: relative;
    font-size: x-larger;
   
    line-height: 1.14;
    letter-spacing: 1.4px;
    padding-bottom: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 13px;
}
.section_title h1{
    position: relative;
    font-size: x-larger;
   
    line-height: 1.14;
    letter-spacing: 1.4px;
    padding-bottom: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 13px;
}
.about{
    padding: 50px;
}
nav #icon{
    color:#ffffff;
    font-size: 80px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width : 1048px){
 
    .title h1{
        font-size: 25px;
        padding-left: 5px;
    }
    nav ul{
        margin-right: 20px;

    }
    nav a{
        font-size: 20px;
    }
    }
@media (max-width: 909px){
        .title h1{
            font-size: 18px;
            padding-left: 5px;
        }
        nav #icon{
            display: block;

        }
        nav ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgb(25, 141, 133);
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;

        }
        nav li{
            display: block;
            margin: 50px 0px;
            line-height: 30px;

        }
        nav a{
            font-size: 20px;

        }
        .paragraph{
            font-size: 20px;
        }
        a.active, a:hover{
            border: none;
            color: #ffffff;
        }
        
        nav ul.show{
            left: 0;
        }
    }
