*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(corona-warrior.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: 99%;
    background-position: center;
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgb(22, 122, 116) ;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    padding: 5px 20px;
    color: #ffffff;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
ul li a:hover{
    
    background-color: #ffffff;
    color: #000000;
}
.btn{
    background-color:#ffffff;
    border: 2px solid #000000;
    padding: 15px 20px;
    box-shadow: inset 0 0 0 0 #ffffff;
    letter-spacing: 1px;
    border-radius: 0%;
    color: #ffffff;
    position: absolute;
    font-size: large;
    transform: translate(-50%,-50%);
}
.btn:hover{
    box-shadow: inset 12em 0 0 0 #ffffff;
}
.mt-30{
    margin-top: 35px;
    left: 50%;

}