*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248, 245, 47);
}
.app{
    background-color: rgb(40, 134, 131);
    border-radius: 100px 100px 100px 100px;
    line-height: 50px;
 
}
.app h2{
    font-size: xx-large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 700;
    left: 50%;
    margin-top: 15%;
    color: #ffffff;

}
.app h3{
    font-size: x-large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 700;
    margin-top: 1%;
    color: #ffffff;

}
.app p{
    font-size: larger;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    color: #ffffff;

}